/* ----- font imports ----- */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

/* ----- local fonts ----- */
@font-face {
  font-family: 'BehindNineties-Upright';
  src: url(fonts/behindNineties/WOFF2/UPRIGHT/Behind-The-Nineties-Bd.woff2) format('woff2'),
    url(fonts/behindNineties/WOFF/UPRIGHT/Behind-The-Nineties-Bd.woff) format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'BehindNineties-Upright-Rg';
  src: url(fonts/behindNineties/WOFF2/UPRIGHT/Behind-The-Nineties-Rg.woff2) format('woff2'),
    url(fonts/behindNineties/WOFF/UPRIGHT/Behind-The-Nineties-Rg.woff) format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'BehindNineties-Italic';
  src: url(fonts/behindNineties/WOFF2/ITALIC/Behind-The-Nineties-It.woff2) format('woff2'),
    url(fonts/behindNineties/WOFF/ITALIC/Behind-The-Nineties-It.woff) format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'BehindNineties-Italic-Md';
  src: url(fonts/behindNineties/WOFF2/ITALIC/Behind-The-Nineties-Md-It.woff2) format('woff2'),
    url(fonts/behindNineties/WOFF/ITALIC/Behind-The-Nineties-Md-It.woff) format('woff');
  font-weight: normal;
  font-style: normal;
}

/* ----- css custom properties ----- */
:root {
  --header-text-color: rgb(180, 201, 185);
  --bg-dark: rgb(48, 51, 47);
  --bg-light: rgb(229, 236, 228);
  --nav-bg: #1a1a1a;
  --text-dark: #2d383a;
  --block-color-1: #97ABAF;
  --block-color-2: #c5deeb;
  --shadow-light: rgba(0, 0, 0, 0.125);
  --shadow-medium: rgba(0, 0, 0, 0.3);
  --shadow-heavy: rgba(0, 0, 0, 0.45);
}

/* ----- css reset ----- */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  /* outline: 1px solid red; */
  outline-offset: -1px;
}

/* ----- base elements ----- */
@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}

html {
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: var(--bg-dark);
  scrollbar-width: none;
  -ms-overflow-style: none;
}

html::-webkit-scrollbar {
  display: none;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  flex: 1 1 auto;
  box-shadow: 0 20px 50px var(--shadow-heavy);
  min-height: 100vh;
  display: grid;
  grid-template-columns: 1fr 10fr 1fr;
  grid-template-rows: 2em 1fr;
  max-width: 2300px;
  margin: 0 auto;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

body::-webkit-scrollbar {
  display: none;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

p {
  text-wrap: pretty;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

ul {
  list-style-type: none;
}

#root,
#__next {
  isolation: isolate;
}

/* ----- layout containers ----- */
main {
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
  max-width: 100%;
}

#hero-image-gallery,
#menu-container-main,
#menu-image-gallery,
#hero-logo-container {
  height: 100%;
  width: 100%;
  overflow: hidden;
  position: relative;
  background-color: var(--nav-bg);
}
/* ----- navigation ----- */
nav {
  grid-column: 2 / 3;
  grid-row: 1;
  box-shadow: 0px 3px 8px 0px var(--shadow-medium);
  display: flex;
  flex-direction: row;
  background-color: var(--nav-bg);
  font-size: 0.8rem;
  font-family: "Roboto", sans-serif;
  align-items: center;
  height: auto;
  color: var(--header-text-color);
  position: sticky;
  top: 0;
  z-index: 1001;
  padding: 0;
  margin: 0;
}

nav .primary-nav,
nav .secondary-nav {
  display: flex;
  flex: 1;
}

nav .primary-nav {
  max-width: 48%;
  align-items: center;
  padding: 0 0 0 2rem;
}

nav .primary-nav a {
  padding: 0 1rem 0 0;
}

nav .secondary-nav {
  justify-content: space-between;
  align-items: center;
  padding-left: 0;
}

nav li {
  list-style-type: none;
}

nav li#phone-nav-item {
  padding-right: 2rem;
  font-weight: bold;
}

nav li#logo-nav-item a {
  justify-content: center;
  font-family: 'BehindNineties-Upright';
  font-size: 1rem;
  color: white;
}

nav li#logo-nav-item #bistro {
  font-family: 'BehindNineties-Italic';
}

/* ----- navigation links ----- */
nav a:link,
nav a:visited {
  text-decoration: none;
  color: var(--header-text-color);
}

nav a:hover {
  text-decoration: underline;
  font-weight: bolder;
}

nav a:active,
nav li#home-li a:hover {
  text-decoration: none;
}

/* ----- side blocks ----- */
#layout-sidebar-left,
#layout-sidebar-right {
  background-color: var(--bg-dark);
  grid-row: 1 / 3;
  z-index: 999;
}

#layout-sidebar-left {
  grid-column: 1 / 2;
}

#layout-sidebar-right {
  grid-column: 3;
}

/* ----- main cards and containers ----- */
.hero-section {
  position: sticky;
  top: 2rem;
  z-index: 1;
}

#hero-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  max-width: 100%;
}

#hero-left-panel {
  grid-column: 1/2;
  grid-row: 1;
  flex-direction: column;
  min-width: 52.5%;
  background-image: url(images/ice-flow-001.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  justify-content: center;
  z-index: 995;
}

#hero-accent-block,
#hero-secondary-block,
#hero-logo-container {
  position: absolute;
  min-height: 8rem;
  max-height: 16rem;
  height: 12rem;
  top: 50%;
}

#hero-accent-block {
  width: 100%;
  background-color: var(--block-color-1);
  animation: slideLeft1 4s cubic-bezier(0.33, 1, 0.68, 1) 0s 1 normal forwards;
  z-index: 1;
  box-shadow: -8px 8px 2px var(--shadow-light);
}

#hero-secondary-block {
  right: 50%;
  width: 45%;
  background-color: var(--block-color-2);
  animation: slideLeft2 4.2s cubic-bezier(0.33, 1, 0.68, 1) 0s 1 normal forwards;
  z-index: 2;
  box-shadow: -2px 2px 2px var(--shadow-light);
}

#hero-logo-container {
  background-color: white;
  animation: slideLeft3 4.4s cubic-bezier(0.25, 0.46, 0.45, 0.94) forwards;
  right: 50%;
  width: 40.5%;
  z-index: 3;
  margin-left: 6rem;
  padding-right: 2rem;
  box-shadow: -2px 2px 2px var(--shadow-light);
}

#main-logo {
  display: flex;
  z-index: 999;
  position: relative;
  justify-content: right;
  top: 1rem;
  right: 1rem;
  color: var(--text-dark);
}

#main-logo #part-1 {
  font-family: 'BehindNineties-Italic';
  font-size: 3rem;
}

#main-logo #part-2 {
  font-family: 'BehindNineties-Upright';
  font-size: 3rem;
}

#hero-image-gallery {
  grid-column: 2;
  grid-row: 1;
  outline: 1rem solid white;
  outline-offset: -1rem;
  box-shadow: -2px 0px 2px var(--shadow-light);
}

#hero-image-gallery,
#menu-image-gallery,
#menu-panel {
  flex: 1 1 auto;
  min-height: calc(100vh - 2rem);
  z-index: 999;
  display: flex;
}


#menu-section {
  position: sticky;
  top: 2rem;
  z-index: 1002;
}

#about-section {
  height: calc(100vh - 2rem);
  position: sticky;
  top: 2rem;
  z-index: 1003;
  background-color: hotpink;
}
#menu-container-main {
  display: grid;
  grid-template-columns: 5fr 6fr;
  grid-template-rows: 1fr;
  max-width: 100%;
  z-index: 1000;
  box-shadow: var(--shadow-light);
}



#menu-image-gallery {
  grid-column: 1/2;
  grid-row: 1;
  z-index: 995;
}

#menu-panel {
  grid-column: 2/3;
  grid-row: 1;
  background-color: white;
  z-index: 4;
}

/* ----- menu section ----- */
#menu-container {
  display: flex;
  flex: 1 1 auto;
  min-width: 100%;
  height: 100%;
  justify-content: space-evenly;
}

ul#menu {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
}

.menu-item {
  flex: 1 1 auto;
  display: grid;
  grid-template-areas:  "id category arrow" 
                        "blank1 menu blank2";
  grid-template-columns: auto 10fr auto;
  grid-template-rows: 1fr;
  /* height: 2rem; */
  /* gap: 1rem; */
  align-items: center;
  border-bottom: 1px solid black;
  margin-right: 3rem;
}

.menu-item .menu-item-id {
  grid-area: id;
}

.menu-item .menu-category {
  grid-area: category;
  justify-self: center;
  font-family: 'BehindNineties-Upright';
  font-size: 1.6rem;
}

.cat-menu {
  grid-area: menu;
  display: none;
  z-index: 500;
  margin: 0 0 0 0;
  padding: 0;
  text-align: center;
}

/* #about-section {
  background-color: hotpink;
  position: relative;
} */

#appetisers-menu-item:hover #appetisers-submenu,
#mains-menu-item:hover #mains-submenu,
#sides-menu-item:hover #sides-submenu,
#desserts-menu-item:hover #desserts-submenu,
#drinks-menu-item:hover #drinks-submenu,
#specials-menu-item:hover #specials-submenu,
#wine-menu-item:hover #wine-submenu {
  grid-area: menu;
  flex-direction: column;
  display: block;
  cursor: pointer;
}

ul .cat-items {
  margin: -2rem 0 0 0;
  padding: 0.5rem 0 0.5rem 0;
}

ul li #scallops-item, #mussels-item, #salmon-item,
#beef-item, #lamb-item, #sea-bass-item, #duck-item,
#potatoes-item, #asparagus-item, #mushrooms-item,
#chocolate-tart-item, #panna-cotta-item, #apple-crumble-item,
#cocktails-item, #beer-item, #non-alcoholic-item,
#special-soup-item, #catch-of-day-item, #seasonal-special-item,
#red-wines-item, #white-wines-item, #sparkling-item {
  margin: 1rem;
}

ul .dish {
  font-family: 'BehindNineties-Upright-Rg';
}

ul .dish-description {
  font-family: 'BehindNineties-Italic';
  font-size: 1.2rem;
}
.menu-item button {
  grid-area: arrow;
  padding: 0;
  margin:  0;
}

/* ----- image animations ----- */
/* TODO: make image switch time shorter to match closer logo animation */
.imgAnim1,
.imgAnim2 {
  width: 100%;
  height: 100%;
  opacity: 0;
  position: absolute;
  object-fit: cover;
}

.imgAnim1 {
  animation: change-img-anim 24s infinite;
  outline: 1rem solid white;
  outline-offset: -1rem;
}

.imgAnim2 {
  animation: change-img-anim 40s infinite;
}

.imgAnim1:nth-of-type(1) { animation-delay: 0s; }
.imgAnim1:nth-of-type(2) { animation-delay: 6s; }
.imgAnim1:nth-of-type(3) { animation-delay: 12s; }
.imgAnim1:nth-of-type(4) { animation-delay: 18s; }

.imgAnim2:nth-of-type(1) { animation-delay: 0s; }
.imgAnim2:nth-of-type(2) { animation-delay: 10s; }
.imgAnim2:nth-of-type(3) { animation-delay: 20s; }
.imgAnim2:nth-of-type(4) { animation-delay: 30s; }

/* ----- keyframe animations ----- */
@keyframes slideLeft1 {
  0% { transform: translateX(80vh); }
  100% { transform: translateX(-100px); }
}

@keyframes slideLeft2 {
  0% { transform: translateX(80vh); }
  100% { transform: translateX(0); }
}

@keyframes slideLeft3 {
  0% { transform: translateX(80vh); }
  100% { transform: translateX(0); }
}

@keyframes change-img-anim {
  0% { opacity: 0; }
  8.33% { opacity: 1; }
  33.33% { opacity: 1; }
  41.66% { opacity: 0; }
  100% { opacity: 0; }
}